ALTER TABLE profiles ADD COLUMN coach_intervention_status text DEFAULT 'none' CHECK (coach_intervention_status IN ('none', 'needed', 'in_progress'));
ALTER TABLE profiles ADD COLUMN coach_intervention_reason text;

